<style>
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
<style>
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
</style>
</style>
*{
    margin: 0;
    padding: 0;
    font-family: 'Bungee Spice', sans-serif;
}
.hero{
    background-position: center;
    background-image: url('../images/cow.jpg');
    background-size: cover;
    height:100vh
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  
}
.hero h1{ 
     /* in hero */
    padding-left: 60px;
    color: black;
    font-family: 'Bungee Spice', sans-serif;
    text-decoration: dotted;
    font-size: 100px;
    text-align: left;
    font-weight: 700px;
    word-spacing: 0px;
    position: absolute;
    
}
       

p{
    background-position: left;
    background-color: azure;
    border: 10px;
    text-align: left;
    margin-block-end: 20px;
}
.article, #cowtype {
    
    width: 80%;
    margin: 60px auto;
    background: linear-gradient(pink , blues);
    padding: 100px;
    border-width: 15px;
    border-style: groove;
    
}
.article h2{
    text-align: center;
    font-size: 48px;
}
.article p{
    font-size: 16px;
}
.article p .imp{
    font-size: 5em;
}
#cowlala{adding: 200px;
    background: linear-gradient(pink blue);
    margin: 60px auto;
    border-width: 10px;
    border-style: groove;
    font-size: large;
}
.lalacow{
    display: flex;
}